@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
  --color1: #2c3639;
  --color2: #D91656;
  --color3: #ead8b1;
  --color4: #3f4e4f;
}

body {
  background: var(--color1);
  color: var(--color2);
  font-family: "Inria Sans", sans-serif;
}
